body{
    font-family: arial;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

h2 {
    font-size: 2em;
    border-left: 5px solid dodgerblue;
    padding: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 60px;
    font-weight: bold;
    padding-left: 10px;
  }

.heading{
    margin-bottom: 20px;
}

.components{
    position: relative;
    padding-top: 25px;
    background: #fff;
    border-radius: 10px;
}

body{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", cursive;
}

#principal{
    position: relative;
    width: 200px;
    height: 25px;
    margin-bottom: 35px;
    border-radius: 20px;
  
}
.amount{
    margin-left: 180px;
    font-size: 130%;
}


#rate{
    position: relative;
    width: 200px;
    height: 25px;
    margin-bottom: 35px;
  
}
.Interest{
        margin-left: 180px;
        font-size: 130%;
}


#years{
    position: relative;
    width: 200px;
    height: 25px;
    margin-bottom: 35px;
    border-radius: 20px;
}
.noofy{
    margin-left: 180px;
    font-size: 130%;
}

.btn{
    margin-left: 185px;
    padding: 7px;
}
.button{ 
    background-color: dodgerblue; 
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 90%;
    padding: 10px 25px;
}
.btn:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
  }

footer{
    margin-left: 250px;
    padding: 8px;
}

